@import "../../../assets/css/variables";

mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > i {
    margin-bottom: 1.5rem;
    font-size: 6rem;
    color: $color-yellow-extradeep;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  span {
    max-width: 26rem;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.25rem;
  }
}
