$color-indigo: #3f51b5;
$color-indigo-light: #d2d0e2;
$color-blue: #0277BD;
$color-blue-light: #E7F4FC;
$color-green: #1D855D;
$color-green-light: #DBF0E8;
$color-yellow-extradeep: #E2690E;
$color-yellow: #FFD040;
$color-yellow-light: #FFF7E0;
$color-red: #CA1D34;
$color-red-light: #FADBDF;

$color-required: #F44336;

$color-black: #343434;
$color-grey: #707070;
$color-grey-light: #f2f2f2;
$color-grey-border: #d6d6d6;
$color-white: #ffffff;
